.root {
  flex: 1;

  .title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  input {
    width: 100%;
    background-color: var(--background-color-1);
    border: 1px solid var(--card-border-color);
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
    color: var(--font-color);
  }
  
  .bottom-area {
    margin-top: 20px;
    font-size: 12px;
    color: var(--font-color-light);

    a {
      cursor: pointer;
      color: var(--font-color-light);
      text-decoration: none;
    }
  }

  .link {
    color: var(--font-color-light);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .checkbox-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-size: 14px;
    color: var(--font-color);

    label {
      display: flex;
      align-items: center;
      cursor: pointer;

      input[type="checkbox"] {
        width: 16px;
        height: 16px;
      }
    }
  }
}
