.simulator {
  .topbar {
    background: var(--fill-color-1);
    border: 1px solid var(--card-border-color);
    border-radius: 5px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
    box-sizing: border-box;

    .left {
      display: flex;
      align-items: center;
      white-space: nowrap;
      gap: 10px;

      .label {
        font-size: 1rem;
      }

      .select {
        background: var(--fill-color-2);
        color: var(--text);
        border: 1px solid var(--card-border-color);
        border-radius: 10px;
        padding: 8px 10px;
        width: 150px;
      }
    }

    .right {
      display: flex;
      align-items: center;
      gap: 8px;
      white-space: nowrap;

      .label {
        font-size: 1rem;
      }

      .goldNum {
        font-weight: 800;
      }

      .unit {
        opacity: 0.8;
      }
    }
  }
}


