.root {
  .no-inquiry {
    color: var(--font-color-light);
    margin-top: 250px;
    text-align: center;
    width: 100%;
  }

  .controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
}
