.root {
  flex: 1;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;

  .loading {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
  }

  .container {
    width: 60%;
    max-width: 1500px;
    gap: 10px;
    margin: 20px 0;
    display: flex;
    flex-direction: column;

    .headerWrapper {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .legend-container {
      gap: 20px;
      margin: 20px 0;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      overflow: visible;
    }

    @media (max-width: 1200px) {
      .legend-container {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  @media screen and (max-width: 768px) {
    .container {
      width: auto;
      margin: 0;

      .legend-container {
        width: 90%;
        gap: 10px;
        margin: 0 auto;
      }
    }
  }
}
