.root {
  flex: 1;
  display: flex;
  flex-direction: column;

  .section-header {
    font-size: 17px;
    color: var(--font-color-semi-light);
    font-weight: bold;
    margin: 10px 0;
  }

  .select-container {
    margin-right: 5px;
    background-color: var(--fill-color-1);
    border: 1px solid var(--card-border-color);
    border-radius: 5px;
    padding: 5px;
  }

  .input-container {
    flex-grow: 1;
    background-color: var(--fill-color-1);
    border: 1px solid var(--card-border-color);
    border-radius: 5px;
    padding: 5px;
  }

  .textArea {
    width: auto;
    background-color: var(--fill-color-1);
    border: 1px solid var(--card-border-color);
    border-radius: 5px;
    padding: 5px;
    resize: vertical;
  }

  .uploaded-files {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .file-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .option {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }

  .image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 1px solid var(--card-border-color);
    border-radius: 5px;
    margin-bottom: 5px;
  }

  .save-button {
    background-color: var(--button-color);
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.2s;
    color: white;

    &:hover {
      background-color: var(--button-color-hover);
    }
  }
}

@media screen and (max-width: 768px) {
  .root {
    h1 {
      font-size: 16px;
    }

    .section-header {
      font-size: 14px;
    }

    .input-container {
      width: 100%;
    }
  }
}
