.root {
  width: 100%;
  background-color: var(--top-bar-color);
  height: 45px;
  box-shadow: var(--top-bar-shadow);
  display: flex;
  align-items: center;
  align-content: center;
  z-index: 3;

  .title-btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 0 20px;
    position: relative;
    transition: filter 0.2s ease-out, font-size 0.2s ease-out;

    .logo {
      width: 100px;
    }

    &:hover {
      filter: brightness(1.5);
    }
  }
}
