.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  color: #333;
  
  .title{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 0.3rem;
  }
  
  .sub-title{
      font-size: 1.5rem;
      margin-bottom: 1rem;
  }

  .message{
      font-size: 1rem;
      margin-bottom: 1rem;
  }
  
  .stack{
    font-size: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    white-space: pre-wrap;
    padding: 10px;
  }
  
}