.root {
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  
  .page-number{
    margin: 0 5px;
    border: 1px solid var(--card-border-color);
    cursor: pointer;
    background-color: var(--fill-color-4);
    border-radius: 3px;
    padding: 2px 8px;
    transition: 0.2s all;
    
    &:hover{
      background-color: var(--hover-color);
    }
    
    &.selected{
      font-weight: bold;
      background-color: var(--intense-color);
      color: white;
    }
  }
}